root = true
[*]
# Most of the standard properties are supported
indent_size=2
max_line_length=100

ktlint_standard_function-naming = disabled
ktlint_standard_property-naming = disabled
ktlint_standard_filename = disabled
ktlint_standard_no-empty-file = disabled